<%= render "header" %>

<div class="container">
<h2>index</h2>

<form method="POST" action="/add">
<%= token_tag %>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input name="title" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-dark">Submit</button>
</form>

</div>
<%= render "footer" %>